@model StudentDataAccessLayer.StudentDetails

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StudentDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" id="errorname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" id="errordob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" id="errorage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <label>
                    @Html.RadioButtonFor(model => model.Gender, "Male")
                    M
                </label>
                <label>
                    @Html.RadioButtonFor(model => model.Gender, "Female")
                    F
                </label>
                <span asp-validation-for="Gender" id="errorgender" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" id="errormobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" id="erroremail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" id="errorsubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Create" id="create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            $("#create").click(function () {
                debugger;
                validate();
            });

        });


        function validate() {

            var name = document.getElementById("Name").value;

            var age = document.getElementById("Age").value;

            var mobile = document.getElementById("Mobile").value;

            var gender = document.getElementById("Gender").value;

            var email = document.getElementById("Email").value;

            var dob = document.getElementById("DOB").value;




            var isvalid = true;
            {

                var spanname = document.getElementById("errorname");
                if (name == "" || name.length == 0) {
                    spanname.innerText = "Please Enter Your Name";
                    spanname.style.display = "block";

                    isvalid = false;
                }
                else {
                    spanname.style.display = "none";
                }



                var spanage = document.getElementById("errorage");
                if ( age<=0)
                {
                    spanage.innerText = "Please Enter Valid Age";
                    spanage.style.display = "block";

                    isvalid = false;
                }
                else
                {
                    spanage.style.display = "none";
                }

                 var spanmobile = document.getElementById("errormobile");
               @* if (mobile === "" || !/^\d{10}$/.test(mobile))*@
                if (mobile.length!=10)
                {
                    spanmobile.innerText = "Please Enter Valid 10-Digit Phone Number";
                    spanmobile.style.display = "block";

                    isvalid = false;
                }
                else
                {
                    spanmobile.style.display = "none";
                }


                var spanemail = document.getElementById("erroremail");
                
                if (email == "" @*|| !emailRegex.test(email)*@)
                {
                    spanemail.innerText = "Please Enter Valid Email Address";
                    spanemail.style.display = "block";
                    isValid = false;
                }
                else
                {
                    spanemail.style.display = "none";
                }

                                               
                var spandob = document.getElementById("errordob");
                
                if (dob === "" || dob =="01/01/0001 12:00 AM")
                {
                    spandob.innerText = "Please Enter Your DOB";
                    spandob.style.display = "block";
                    isvalid = false;
                }
                else
                {
                    spandob.style.display = "none";
                }

                var spangender = $("input[name='Gender']:checked").value();
                if (!gender) {
                    spangender.innerText = "Please Select Your Gender";
                    spangender.style.display = "block";

                    isvalid = false;
                }
                else {
                    spangender.style.display = "none";
                }






            }
            return isvalid;
        }

    </script>
}

@* var name = document.getElementById("DOB").value;
        var span = document.getElementById("errordob");
        var isvalid = true;
        if (dob == "" || dob || dob.length == 0)
        {
            isvalid = false;
        }

    var email = document.getElementById("Email").value;
    




        

*@











