@model StudentDataAccessLayer.StudentDetails

@{
    ViewData["Title"] = "Create";
}

<div id="contentData">


    <h1>Create</h1>

    <h4>StudentDetails</h4>
    <hr />


    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" placeholder="Enter your name" class="form-control" />
                    <span asp-validation-for="Name" id="txtname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DOB" class="control-label"></label>
                    <input asp-for="DOB" class="form-control" value="YYYY-MM-DDT00:00" />
                    <span asp-validation-for="DOB" id="txtdob" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" placeholder="Enter Your Age" value="" />
                    <span asp-validation-for="Age" id="txtage" class="text-danger"></span>
                </div>

                <div class="radio-btn label">
                    <label id="radgen">Gender</label><br />

                    <input type="radio" name="radio" id="male" value="Male">
                    <label for="radio">Male</label>
                    <input type="radio" name="radio" id="female" value="Female">
                    <label for="radio">Female</label>

                </div>
                <div>
                    <span asp-validation-for="Gender" id="errgender" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Mobile" class="control-label"></label>
                    <input asp-for="Mobile" class="form-control" placeholder="Enter Your Mobile Number" value="" />
                    <span asp-validation-for="Mobile" id="txtmobile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="Enter Your Email"/>
                    <span asp-validation-for="Email" id="txtemail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Subject" class="control-label"></label>
                    <select asp-for="Subject" id="drpsub" class="form-control"></select>
                    <span asp-validation-for="Subject" id="drpsubject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="button" value="Create" id="create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            debugger;

            $("#Name").keyup(function () {



               var name = document.getElementById("Name").value;
               if (name.length >= 10) {
                   return;
                }
               



            });

            $("#Name").blur(function () {

             

                var name = document.getElementById("Name").value;
                var spanname = document.getElementById("txtname");
                if (name == "" || name.length == 0) {
                    spanname.innerText = "Please Enter Your Name";
                    spanname.style.display = "block";
                }
                else {
                    spanname.style.display = "none";
                }



            });
            

            $("#create").click(function () {

                debugger;
               
                if (validate()) {

                    var name = document.getElementById("Name").value;
                    var mobile = document.getElementById("Mobile").value;
                    var email = document.getElementById("Email").value;
                    var dob = document.getElementById("DOB").value;
                    var age = document.getElementById("Age").value;
                    var radios = document.getElementsByName("radio");
                    var radgender = ""
                    for (var i = 0, length = radios.length; i < length; i++) {
                        if (radios[i].checked) {
                            radgender = radios[i].value;
                            break;
                        }
                    }
                    var spansub = document.getElementById("drpsub");
                    var sub = spansub.options[spansub.selectedIndex].value;
                    var DataInsert = {
                        "Name": name,
                        "Mobile": mobile,
                        "DOB": dob,
                        "Age": age,
                        "Gender": radgender,
                        "Email": email,
                        "Subject": sub
                    };



                    $.ajax({
                        type: "POST",
                        url: "/Student/Create",
                        data: DataInsert,
                        success: function (data)
                        {

                            alert("Successfully Registered");
                            window.location.href = "/student/index";

                            //document.getElementById("contentData").innerHTML = data;
                        },
                        error: function (ex)
                        {
                            alert("Something went wrong");
                        }

                    });

                }
            });



            $.ajax({
                type: "GET",
                url: "/api/depart",
                data: "{}",
                success: function (data) {
                    var string = '<option value="-1">--- Please Select Your Subject ---</option>';
                    for (var i = 0; i < data.length; i++) {
                        string += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#drpsub").html(string);
                }
            });
        });




                

                
        
                         

        function validate() {

            var name = document.getElementById("Name").value;

            var age = document.getElementById("Age").value;

            var mobile = document.getElementById("Mobile").value;

            var email = document.getElementById("Email").value;

            var dob = document.getElementById("DOB").value;





            var isvalid = true;


            var spanname = document.getElementById("txtname");
            if (name == "" || name.length == 0) {
                spanname.innerText = "Please Enter Your Name";
                spanname.style.display = "block";

                isvalid = false;
            }
            else {
                spanname.style.display = "none";
            }



            var spanage = document.getElementById("txtage");
            if (age <= 0)
            {
                spanage.innerText = "Please Enter Your Age";
                spanage.style.display = "block";

                isvalid = false;
            }
            else {
                spanage.style.display = "none";
            }

            var spanmobile = document.getElementById("txtmobile");
            if (mobile.length != 10) {
                spanmobile.innerText = "Please Enter Valid 10-Digit Mobile Number";
                spanmobile.style.display = "block";

                isvalid = false;
            }
            else {
                spanmobile.style.display = "none";
            }


            var spanemail = document.getElementById("txtemail");

            if (email == "") {
                spanemail.innerText = "Please Enter Valid Email Address";
                spanemail.style.display = "block";
                isValid = false;
            }
            else {
                spanemail.style.display = "none";
            }


            var spandob = document.getElementById("txtdob");
            debugger;
            if (dob === "" || dob == "0001-01-01T00:00")
            {
                spandob.innerText = "Please Enter Your DOB";
                spandob.style.display = "block";
                isvalid = false;
            }
            else {
                spandob.style.display = "none";
            }

            var spansub = document.getElementById("drpsub");
            var sub = spansub.options[spansub.selectedIndex].value;
            var spansubject = document.getElementById("drpsubject");
          
            if (sub == "" || sub == -1 || sub ==0)
            {
                
                spansubject.innerText = "Please Select Your Subject From Dropdown";
                spansubject.style.display = "block";
                isvalid = false;
            }
            else
            {
                spansubject.style.display = "none";
            }

            var radios = document.getElementsByName("radio");
            var value = ""
            for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    value = radios[i].value;
                    break;
                }
            }

            var gender = document.getElementById("errgender");
            if (!value)
            {
                gender.innerText = "Please Select Your Gender";
                gender.style.display = "block";
                isvalid = false;
            }
            else
            {
                gender.style.display = "none";
            }
   

            return isvalid;
        }

    </script>
}













